Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
Flask-Mail==0.9.1
Werkzeug==2.0.3
SQLAlchemy==1.4.27
psycopg2-binary==2.9.9
python-dotenv==1.0.0
PyJWT==2.6.0
email_validator==1.2.1
Flask-Login==0.6.0
